* {
  margin: 0px;
}

h1 {
  text-align: center;
  background-color: lightgreen;
  padding: 15px;
  margin-bottom: 5px;
}

h2 {
  text-align: center;
  background-color: lightblue;
  margin: 5px;
  padding: 5px;
  border: 2px solid cyan;
  border-radius: 10px;
}

p {
  padding: 12px;
  font-family: tahoma, verdana;
  font-size: 18px;
  color: green;
}

a {
  font-family: verdana, tahoma, arial;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: pink;
  text-shadow: 2px 2px 5px orange;
}

a:hover {
  text-decoration: underline;
  font-size: 18px;
  color: green;
}

.destacado {
  background-color: #FF0ECA;
  color: orange;
}
